<div class="">
    <h1 class="text-center text-3xl font-bold mb-8">Edit Article</h1>

    <%= render "form", article: @article%>
</div>


<button class="bg-black hover:bg-transparent hover:border-2 hover:border-black text-white hover:text-black font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline w-fit text-center content-center mt-8 mx-auto">
    <%= link_to "Go Home", root_path%>
</button>